{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>
            Delete Task
        </title>

        <link rel="stylesheet" href="{% static 'tasks/style.css' %}">

    </head>

    <body>
        <header>
            <h1>Delete Task</h1>
        </header>

        <main> 
            <div class="form-container">
                <h2>Are you sure you want to delete <strong>"{{ task.title }}"?</strong> </h2>
                
                <form method="POST">
                    {% csrf_token %}

                    <button class="delete-link" type="submit">
                        Yes, Delete
                    </button>

                </form>

                <a class="back-link" href="{% url 'task_list' %}">
                    Cancel
                </a>

            </div>
        </main>
    </body>
</html>