{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Task Manager</title>
        <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
    </head>
    <body>
        <header>
            <div class="header-content">    
                
                <div>
                    <h1>Task Manager</h1>
                    <p>Manage your tasks easily</p>
                </div>
                
                <div class="user-menu">
                    <details>
                        <summary>{{ request.user.username }}</summary>
                        <div class="user-dropdown">
                            <a href="{% url 'logout' %}">Logout</a>
                        </div>
                    </details>
                </div>
            
            </div>
        </header>
        <main>
            <div class="task-header">
                <h2>My Tasks</h2>
                
                <a class="new-task-btn" href="{% url 'task_create' %}">+ New Task</a>
                
            </div>
            
            
            
            <form method="GET" class="task-controls">

                <input
                type="text"
                name="search"
                placeholder="Search tasks ..."
                value="{{ search|default:'' }}"
                >

                <label for="status">Filter by status:</label>

                <select name="status" id="status">
                    <option value="">All</option>
                    <option value="TODO" {% if status == 'TODO' %}selected{% endif %}>Todo</option>
                    <option value="DOING" {% if status == 'DOING' %}selected{% endif %}>Doing</option>
                    <option value="DONE" {% if status == 'DONE' %}selected{% endif %}>Done</option>
                </select>

                <label for="priority">Filter by priority:</label>

                <select name="priority" id="priority">

                    <option value="" {% if not priority %}selected{% endif %}>
                        All
                    </option>

                    <option value="LOW" {% if priority == 'LOW' %}selected{% endif %}>
                        Low
                    </option>

                    <option value="MEDIUM" {% if priority == 'MEDIUM' %}selected{% endif %}>
                        Medium
                    </option>

                    <option value="HIGH" {% if priority == 'HIGH' %}selected{% endif %}>
                        High
                    </option>

                </select>
                <select name="sort" id="sort">
                    <option value="" {% if not sort %}selected{% endif %}>
                        Sort by
                    </option>

                    <option value="newest" {% if sort == 'newest' %}selected{% endif %}>
                        Newest
                    </option>

                    <option value="oldest" {% if sort == 'oldest' %}selected{% endif %}>
                        Oldest
                    </option>
                </select>

                <button type="submit">Apply</button>

            </form>

            

            {% for task in tasks %}
                <article class="task">
                    <a class="task-card-link" href="{% url 'task_detail' task.id %}">
                        <h3>{{ task.title }}</h3>
                    
                        <p>{{ task.description }}</p>
                        
                        <div class="task-meta">
                            <span class="task-status status-{{ task.status|lower }}">{{ task.get_status_display }}</span>
                            <span class="task-priority priority-{{ task.priority|lower }}">{{ task.get_priority_display }}</span>
                        </div>

                        {% if task.due_date %}
                            <p>
                                Due : {{ task.due_date}}
                            </p>
                        {% endif %} 
                    </a>
                    
                    <div class="detail-actions">
                        <a class="edit-link" href="{% url 'task_edit' task.id %}">
                            Edit
                        </a>

                        <a class="delete-link" href="{% url 'task_delete' task.id %}">
                            Delete
                        </a><br>

                        
                    </div>

                    
                </article>

            {% empty %}
                <p>No tasks found. </p>
                
            {% endfor %}
        </main>
    </body>
</html>