{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Task Manager</title>
        <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
    </head>
    <body>
        <header>
            <h1>Task Manager</h1>
            <p>Manage your tasks easily</p>
        </header>
        <main>
            <div class="task-header">
                <h2>My Tasks</h2>

                <form method="GET" class="task-filters">

                    <label for="status">Filter by status:</label>

                    <select name="status" id="status">
                        <option value="">All</option>
                        <option value="TODO" {% if status == 'TODO' %}selected{% endif %}>Todo</option>
                        <option value="DOING" {% if status == 'DOING' %}selected{% endif %}>Doing</option>
                        <option value="DONE" {% if status == 'DONE' %}selected{% endif %}>Done</option>
                    </select>

                    <button type="submit">Filter</button>

                </form>

                <a href="create/">+ New Task</a>
                <a class="back-link" href="{% url 'logout' %}">
                    Logout
                </a>
            </div>

            {% for task in tasks %}
                <article class="task">
                    <a class="task-card-link" href="{% url 'task_detail' task.id %}">
                        <h3>{{ task.title }}</h3>
                    
                        <p>{{ task.description }}</p>
                        
                        <div class="task-meta">
                            <span class="task-status status-{{ task.status|lower }}">{{ task.status }}</span>
                            <span class="task-priority priority-{{ task.priority|lower }}">{{ task.priority }}</span>
                        </div>

                        {% if task.due_date %}
                            <p>
                                Due : {{ task.due_date}}
                            </p>
                        {% endif %} 
                    </a>
                    
                    <div class="detail-actions">
                        <a class="edit-link" href="{% url 'task_edit' task.id %}">
                            Edit
                        </a>

                        <a class="delete-link" href="{% url 'task_delete' task.id %}">
                            Delete
                        </a><br>

                        
                    </div>

                    
                </article>

            {% empty %}
                <p>No tasks found. </p>
                
            {% endfor %}
        </main>
    </body>
</html>